extends layout

block content
    h1 #{title}
    form(method='POST', action='/posts/add')
        #form-group
            label Body:
            textarea.form-control(name='body')
        #form-group
            label URL:
            input.form-control(name='url', type='text')
        #form-group
            label Date:
            input.form-control(id='datePicker' name='date' type='datetime-local' value='2018-01-01T01:00')
        br
        input.btn.btn-primary(type='submit', value='Submit')
block script
    script(src='/js/inactivity.js')
    script(src='/js/dateNow.js')