extends layout

block content
    .text-center
        h2= article.body
        a.btn.btn-primary.btn-lg(href=article.link, target='_blank') Go to Article
    hr
    .text-center
        a.btn.btn-primary(href='/articles/edit/' + article._id) Edit
        a.btn.btn-danger.delete-video(href='#', data-id=article._id) Delete