extends layout

block content
    h1 #{title}
    form(method='POST', action='/users/change-password')
        #form-group
            input#password.form-control(name='oldPassword', type='password', placeholder='Old Password')
            br
            input(type='checkbox', onclick='showPassword()')
            | Show Password
        #form-group
            input#password2.form-control(name='password', type='password', placeholder='New Password')
            br
            input(type='checkbox', onclick='showPassword2()')
            | Show Password
        #form-group
            input#password3.form-control(name='password2', type='password', placeholder='Confirm New Password')
            br
            input(type='checkbox', onclick='showPassword3()')
            | Show Password
        br
        input.btn.btn-primary(type='submit', value='Submit')
block script
    script(src='/js/inactivity.js')