extends layout

block content
    h1 #{title}
    form(method='POST', action='/users/edit-profile')
        #form-group
            label Name:
            input.form-control(name='name', type='text', value=user.name)
        #form-group
            label Email:
            input.form-control(name='email' type='text', value=user.email)
        br
        input.btn.btn-primary(type='submit', value='Submit')
block script
    script(src='/js/inactivity.js')