extends layout

block content
    h1 #{title}
    form(method='POST', action='/videos/edit/' + video._id)
        #form-group
            label Body:
            textarea.form-control(name='body')= video.body
        #form-group
            label Link:
            input.form-control(name='link', type='text', value=video.link)
        br
        input.btn.btn-primary(type='submit', value='Submit')
block script
    script(src='/js/inactivity.js')