extends layout

block content
    main(role='main')
        // Main jumbotron for a primary marketing message or call to action
        .jumbotron
            .container
                h1.display-3 #{title}
                h3 Welcome to Micro.bot
                    img.logo(src='/img/Medium.png')
                p
                    | Thanks for choosing Micro.bot for your marketing needs! Hope this small apps helps you on your endeavour and don't forget to support us.
        .container
            // Example row of columns
            .row
                .col-md-4
                    h2 Latest News
                    p
                        | This app is on the works yet. Soon I'll be on Lambda Bootcamp so I'm trying to get this app done as much as I can before the bootcamp so I can focus on that
                .col-md-4
                    h2 Docs
                    p
                        | You can find all the docs on the link below
                    p
                        a.btn.btn-secondary(href='https://github.com/TheGameFreak720/Micro.bot', role='button', target='_blank') View details »
                .col-md-4
                    h2 Social
                    p
                        | Follow me for the latest news
                    ul
                        li
                            a(href='https://twitter.com/MoonMan6033?lang=en', target='blank') Twitter
                        li
                            a(href='https://www.linkedin.com/in/luis-alvarez-pacheco/', target='blank') LinkedIn