doctype html
html
    head
        title Micro.bot
        link(rel='icon', href='/img/small_without word.png')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
        link(rel='stylesheet', href='/css/style.css')
    body
        nav.navbar.navbar-custom
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand.custom-link(href='/') Micro.bot
                #navbar.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.dropdown
                            a.custom-link.dropdown-toggle(data-toggle='dropdown', href='#')
                                | Articles
                                span.caret
                            ul.dropdown-menu
                                li
                                    a.custom-link(href='/articles') Article List
                                    a.custom-link(href='/articles/add') Add Article
                        li.dropdown
                            a.custom-link.dropdown-toggle(data-toggle='dropdown', href='#')
                                | Videos
                                span.caret
                            ul.dropdown-menu
                                li
                                    a.custom-link(href='/videos') Video List
                                    a.custom-link(href='/videos/add') Add Videos
                        li
                            a.custom-link(href='/users/login') Login
                        li
                            a.custom-link(href='/users/register') Register
                        li
                            a.custom-link(href='/users/logout') Logout

        .container
            != messages('message', locals)
            if errors
                each error, i in errors
                    div(class='alert alert-danger') #{error.msg}
            block content
            br
            hr
            footer
                p.center-text Copyright CommitHub &copy; 2018
            script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
            script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
            script(src='/js/main.js')