doctype html
html
    head
        title Micro.bot
        link(rel='icon', href='/img/small_without word.png')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
        link(rel='stylesheet', href='/css/style.css')
    body
        nav.navbar.navbar-dark.navbar-custom
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/') Micro.bot
                #navbar.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.nav-item.dropdown
                            a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                | Articles
                                span.caret
                            .dropdown-menu(aria-labelledby='navbarDropdown')
                                a.dropdown-item(href='/articles') Article List
                                a.dropdown-item(href='/articles/add') Add Article
                        li.nav-item.dropdown
                            a.dropdown-toggle(data-toggle='dropdown', href='#')
                                | Videos
                                span.caret
                            ul.dropdown-menu
                                li
                                    a.custom-link(href='/videos') Video List
                                    a.custom-link(href='/videos/add') Add Videos
        .container
            != messages('message', locals)
            if errors
                each error, i in errors
                    div(class='alert alert-danger') #{error.msg}
            block content
            br
            hr
            footer
                p.center-text Copyright CommitHub &copy; 2018
            script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
            script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
            script(src='/js/main.js')