extends layout

block content
    h1 #{title}
    form(method='POST', action='/users/login')
        #form-group
            input.form-control(name='username', type='text', placeholder='Username')
        #form-group
            input#password.form-control(name='password', type='password' placeholder='Password')
            br
            input(type='checkbox', onclick='showPassword()')
            | Show Password
        br
        input.btn.btn-lg.btn-primary.btn-block(type='submit', value='Sign in')
