extends layout

block content
    h1 #{title}
    form(method='POST', action='/users/register')
        #form-group
            input.form-control(name='name', type='text', placeholder='Name')
        #form-group
            input.form-control(name='email', type='text', placeholder='Email')
        #form-group
            input.form-control(name='username', type='text', placeholder='Username')
        #form-group
            input#password.form-control(name='password', type='password', placeholder='Password')
            br
            input(type='checkbox', onclick='showPassword()')
            | Show Password
        #form-group
            input#password2.form-control(name='password2', type='password', placeholder='Confirm Password')
            br
            input(type='checkbox', onclick='showPassword2()')
            | Show Password
        br
        input.btn.btn-lg.btn-primary.btn-block(type='submit', value='Submit')