extends layout

block content
    .text-center
        h2= video.body
        a.btn.btn-primary.btn-lg(href=video.link, target='_blank') Go to video
    hr
    .text-center
        a.btn.btn-primary(href='/videos/edit/' + video._id) Edit
        a.btn.btn-danger.delete-video(href='#', data-id=video._id) Delete