extends layout

block content
    h1 #{title}
    ul.list-group
        each video, i in videos
            li.list-group-item
                a(href="/videos/" + video._id)= video.body
block script
    script(src='/js/inactivity.js')