h1 {
    margin-bottom: 20px;
}

.logo {
    display: block;
    width: 30%;
    height: 30%;
    margin: 0 auto;
}

.profile {
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    border-radius: 50%;
}

.center-text {
    text-align: center;
}

.navbar-custom {
    background-color: #21c6ce;
}

.custom-link {
    text-decoration: none;
    color: white;
}

.custom-link:hover {
    text-decoration: none;
    color: white;
}

#form-group {
    margin-bottom: 20px;
}

.btn {
    margin: 5px;
}

